/**
 * Utils
 */

@font-face {
    font-family: 'OpenSansHebrew';
    /*a name to be used later*/
    src: url('OpenSansHebrew/OpenSansHebrew-Regular.ttf');
    /*URL to font*/
}

@font-face {
    font-family: 'OpenSansHebrewBold';
    src: url('OpenSansHebrew/OpenSansHebrew-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'OpenSansHebrewLight';
    src: url('OpenSansHebrew/OpenSansHebrew-Light.ttf');
    font-weight: lighter;
}

@font-face {
    font-family: 'FinelinerScript';
    /*a name to be used later*/
    src: url('MandelaScript/FinelinerScript.ttf');
    /*URL to font*/
}

@font-face {
    font-family: 'MandelaScript';
    /*a name to be used later*/
    src: url('MandelaScript/MandelaScript.ttf');
    /*URL to font*/
}


/* Scrollbar - currently hidden */

::-webkit-scrollbar {
    width: 2px;
    display: none;
}

::-webkit-scrollbar-track {
    background-color: #fafafa;
}

::-webkit-scrollbar-thumb {
    background-color: #000;
}

#draggable_background {
    -webkit-app-region: drag;
    /* Make the navbar the windows's draggable region */
    color: white;
    height: 80px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    background-color: #34495e;
    border-bottom: 1px solid #34495e;
    box-shadow: 0px 0px 10px #2c3d51;
    z-index: 10;
}

#logo_text {
    font-family: FinelinerScript;
    font-weight: 100;
    font-size: 36px;
}

#logo {
    background-image: url('images/MagicLightLogoMini.png');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position-y: 10px;
    width: 73px;
    height: 73px;
}


/* .Wheel svg { width: 100%; }
.Wheel .colowheel-marker text { text-shadow: 1px 2px 10px #000; }
.Wheel .colorwheel-marker circle { stroke-width: 4px; }
.Wheel .colorwheel-marker-trail { stroke-width: 5px; stroke-dasharray: 0; } */

html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: OpenSansHebrew;
}

#bulb {
    text-align: center;
    color: white;
    margin-top: 100px;
    overflow: visible;
    position: relative;
    z-index: 0.0001;
}


/* force a scrollbar on Linux and Windows to prevent jumping when changing tabs */

html.os-linux,
html.os-win32 {
    overflow-y: scroll !important;
}


/* colorpicker styles */

.colorpicker {
    background-color: #222222;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 2px 2px 2px #444444;
    color: #FFFFFF;
    font-size: 12px;
    position: absolute;
    width: 460px;
}

#picker {
    cursor: pointer;
    margin: 10px;
    border: 0;
    overflow: visible;
    position: relative;
    z-index: 4;
}

.controls {
    float: right;
    margin: 10px;
}

.controls> div {
    border: 1px solid #2F2F2F;
    margin-bottom: 5px;
    overflow: hidden;
    padding: 5px;
}

.controls label {
    float: left;
}

.controls> div input {
    background-color: #121212;
    border: 1px solid #2F2F2F;
    color: #DDDDDD;
    float: right;
    font-size: 10px;
    height: 14px;
    margin-left: 6px;
    text-align: center;
    text-transform: uppercase;
    width: 75px;
}

#wheel {
    margin: auto;
    position: relative;
    z-index: 5;
    /* top: -435px;  */
}

#fav_colors {
    margin-top: -200px;
    overflow: visible;
    position: relative;
    z-index: 6;
}

#fav_color1 {
    border-radius: 50px;
    background-color: #fff;
    /* box-shadow: 0px 0px 110px #00f7f6; */
    height: 66px;
    width: 66px;
    text-align: center;
    left: -132px;
    margin: auto;
    overflow: visible;
    position: relative;
    z-index: 6;
}

#fav_color2 {
    border-radius: 50px;
    background-color: #fef6a0;
    /* box-shadow: 0px 0px 110px #00f7f6; */
    height: 66px;
    width: 66px;
    text-align: center;
    margin: auto;
    margin-top: -66px;
    overflow: visible;
    position: relative;
    z-index: 6;
}

#fav_color3 {
    border-radius: 50px;
    background-color: #5fd0ff;
    /* box-shadow: 0px 0px 110px #00f7f6; */
    height: 66px;
    width: 66px;
    text-align: center;
    margin: auto;
    left: 132px;
    margin-top: -66px;
    overflow: visible;
    position: relative;
    z-index: 6;
}

#color_preview {
    border-radius: 50px;
    background-color: #00f7f6;
    /* box-shadow: 0px 0px 110px #00f7f6; */
    height: 66px;
    width: 66px;
    text-align: center;
    margin: auto;
    margin-top: -204px;
    overflow: visible;
    position: relative;
    z-index: 6;
}

#bulb_preview {
    background-image: url("images/bulb_preview.png");
    background-repeat: no-repeat;
    background-position: right top;
    /* box-shadow: 0px 0px 20px #444444; */
    height: 160px;
    width: 99px;
    text-align: center;
    margin: auto;
    margin-top: -144px;
    overflow: visible;
    position: relative;
    z-index: 7;
}

#bulb_light {
    background-image: url("images/bulb_light.png");
    background-repeat: no-repeat;
    height: 268px;
    width: 160px;
    text-align: center;
    margin: auto;
    overflow: visible;
    position: relative;
    visibility: hidden;
    z-index: 4;
    margin-top: -36px;
}

#on_off_toggle {
    z-index: 999;
    cursor: pointer;
    position: relative;
    border-radius: 160px;
    /* box-shadow: 0px 0px 20px #444444; */
    height: 230px;
    width: 230px;
    text-align: center;
    margin: auto;
    margin-top: -419px;
}

#title_bar {
    position: relative;
    z-index: 12;
    top: 20px;
}

.bulb_name,.bulb_name:visited {
    border: 0;
    cursor: pointer;
    font-family: OpenSansHebrewLight;
    font-size: 38px;
    /*margin-left: 90px;
    margin-right: 90px;*/
    color: #222222;
    background-color: #fff;
    padding-top: 2px;
    padding-bottom: 3px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 34px;
}

.bulb_name:hover, .bulb_name:active {
    transform: scale(1.1);
}

#brightness {
    margin: auto;
    position: relative;
    z-index: 0.001;
    /* top: -706px;  */
    top: -296px;
}

#brightness .rs-range-color {
    background-color: #767676;
}

#brightness .rs-path-color {
    background-color: #fff;
}

#brightness .rs-handle {
    background-color: #fff;
    padding: 7px;
    border: 2px solid #fff;
}

#brightness .rs-handle.rs-focus {
    border-color: #fff;
}

#brightness .rs-handle:after {
    border-color: #fff;
    background-color: #fff;
}

#brightness .rs-border {
    border-color: transparent;
}

#brightness .rs-tooltip {
    top: 390px;
    font-size: 18px;
    color: #222222;
    background-color: #fff;
    padding-top: 2px;
    padding-bottom: 3px;
    padding-right: 7px;
    padding-left: 8px;
    border-radius: 14px;
    font-family: OpenSansHebrewLight;
}

#brightness .rs-tooltip .percent {
    font-size: 14px;
}

.button {
    cursor: pointer;
}

.button:hover {
    transform: scale(1.15);
    /*color: red;*/
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 100;
    /* Sit on top */
    left: 0;
    top: 0;
    margin-top: 158px;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    text-align: center;
    overflow: auto;
    font-family: OpenSansHebrew;
    /* Enable scroll if needed */
    /*background-color: rgb(0,0,0);  Fallback color */
    /*background-color: rgba(0,0,0,0.4);  Black w/ opacity */
}


/* Modal Content/Box */


/*.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    border-radius: 14px;
    box-shadow: 0px 0px 22px #000;
}*/

fieldset {
    border: none;
}

.triangle {
    margin: auto;
    margin-top: 52px;
    color: #ecf0f1;
    font-size: 26px;
    text-shadow: rgba(0, 0, 0, 0.45) 0px -5px 5px;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 15px solid #ECF0F1;
    margin-bottom: 0px;
    /*left: 10%;*/
    position: relative;
    margin: 15% auto;
    z-index: 101;
}

.formholder {
    background: #ecf0f1;
    width: 350px;
    border-radius: 5px;
    padding-top: 5px;
    margin: auto;
    text-align: left;
    margin-top: -9px;
    box-shadow: 0 0 10px #232323;
    font-family: OpenSansHebrew;
}

.formholder input {
    font-family: OpenSansHebrew;
    padding: 7px 5px 8px 8px;
    margin: 10px 0;
    width: 96%;
    display: block;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}

.formholder input:focus {
    outline: none;
    box-shadow: 0 0 1px 1px #1abc9c;
}

.formholder input[type="checkbox"] {
    padding: 10px;
    font-size: 20px;
    display: inline;
    width: initial;
    border-radius: 4px;
    margin-right: 10px;
    margin-left: 10px;
}

.formholder textarea {
    padding: 7px 5px;
    margin: 10px 0;
    width: 96%;
    display: block;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}

.close {
    position: absolute;
    margin-left: 145px;
    margin-top: 20px;
    background: white;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 40px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    transform: scale(1.15);
}

.formholder textarea:focus {
    outline: none;
    box-shadow: 0 0 1px 1px #1abc9c;
}

.formholder input[type="submit"] {
    font-family: OpenSansHebrewLight;
    background: #ff1700;
    padding: 10px;
    font-size: 20px;
    display: block;
    width: 100%;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.formholder input[type="submit"]:hover {
    background: #ff1500;
    transform: scale(1.1);
}

.randompad {
    border: 0;
    padding: 10px;
    font-family: OpenSansHebrew;
}

.fa-bluetooth {
    margin-right: 6px;
    padding-top: 3px;
}

.randompad #serching_bulbs {
    font-family: OpenSansHebrewLight;
    color: rgb(255, 255, 255);
    background-color: #2077f9;
    padding-top: 3px;
    padding-bottom: 4px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 34px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}


/* The Close Button */